img{
    border: solid 50 grey;
    height: 300;
width: 400;
border-radius:50;
}
table{
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;s
}
th{
    background-color: green;
    font-size: 400px bold;

}
nav ul{
    display: flex;
}
nav ul li a{
text-decoration: none;
 }  
 nav ul li{
    list-style: none;
    margin-left: 20px;
 }