div{
    display: flex;
    justify-content: space-between;
}
img{
    height: 600px;
    width: 400px;
    border: solid green 10px;
    border-radius: 50px;
}
body{
    background-color: aqua;
}
p{
text-align: justify;border: solid 5px;
padding: 50px;
}
#riya{
    color: blueviolet;
}

a{
    text-decoration: none;
}