img{
    border: solid 50 grey;
    height: 400;
width: 400;
border-radius:50;
}
table{
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;s
}